.about-page {
    background-color: #CBBAED;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: auto;
    color: black;
    /* justify-content: space-evenly; */
}

.about-layout {
    display: flex;
    justify-content: space-around;
    margin: 5vh;
    padding: 2vh;
    width: 50%;
    height: auto;
    background-color: #A3D5FF;
    border-radius: 8%;
    border: aqua;
    border-color: aqua;
    color: black;
}

.college-info {
    text-align: center;
}

.college-start {
    display: inline-block;
    margin: 0;
}