.about {
    background-color: #CBBAED;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    color: black;
    /* justify-content: space-evenly; */
}