/*CSS Styling for the Navigation Bar*/

.NavBar {
    /* background-color: #90cef6; */
    background-color: #1D3557;
    width: 100vw;
    height: auto;
    display: flex;
    /* justify-content: flex-start; */
    justify-content: space-evenly;
    align-items: flex-start;
}

.nav-link {
    font-size: 1.5vw;
    /* figure this size out */
    color: white;
    text-decoration: none;
    background-color: #1D3557;
    margin: 1%;
    padding: .5% 1%;
    border-radius: 6px;
    transition: background-color 0.25s, color 0.25s;
    /* make it highlighted which page on */
}

.nav-link:hover {
    color: black;
    background-color: #C7D9B7;
}